body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bstyle {
border-style: dotted;
background-color: rgba(0, 0, 0, 0.966);
}

.sptext{
  font-family: cursive;
  color: rgb(122, 252, 252);
}

.txtAll{
  text-align: center;
}

.brandstyle{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Rammetto One', cursive;
}

.dia{
  font-size: 37px;
  color: rgb(15, 29, 29)
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 12, 12);
  color: white;
  text-align: center;
}

.sizing {
  width: auto;
  margin-left: auto;
margin-right: auto;
max-width: initial;
background-color: black;
}

.night{
  background-color: black;
}

.thirdparty{
color: white;
}

img {
max-height: 500px;
align-items: center;
}

.navstyle {
 font-family: inherit;
}
